/*1,150 150*/
/*Globle style*/
html {
  background-color: #EDF2C5;
}

body {
  margin: 0;
}

.container {
  margin-left: 160px;
  margin-right: 160px;
  box-sizing: border-box;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

/*Header Style*/
header {
  width: 940px;
  box-sizing: border-box;
}

header h1 {
  display: inline-block;
  font-family: Arial black;
  color: #889C5B;
  font-size: 44px;
  line-height: 36px;
  margin-top: 53px;
  margin-bottom: 8px;
  /*margin-right: 468px;*/
}


header .icon {
  padding: 0;
  margin: 0;
}

header div{
    display: inline;
    width: 210px;
    box-sizing: border-box;

}

header img {
  margin-left: 10px;
  margin-bottom: 17px;
  margin-top: 66px;
  float: right;
}

header .but_border{
  /*margin: 0;*/
  /*padding: 0;*/
  /*border: 1px solid #778A50;*/
}

header .button {
  border: 1px solid #778A50;
  border-radius: 3px;
  font-family: "Arial BoldMT", sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  color: #778A50;
  float: right;
  margin-left: 10px;
  margin-bottom: 17px;
  padding: 5px 7px;
  text-align: center;
  margin-top: 66px;
}

/*header .login {
  width: 60px;
  height: 20px;
  text-align: center;
}

header .join {
    width: 50px;
    height: 20px;
    text-align: center;
}*/
/*Navigator Style*/
.nav ul {
  width: 940px;
  padding: 0;
  background-color: #889C5B;
  box-sizing: border-box;
}
.nav ul li{
  font-family: Arial Black;
  color: #EDF2C5;
  font-size: 16px;
  list-style: none;
  float: left;
  margin: 16px 30px;
}

/*Main Area Style*/
.main_area img {
  margin-top: 20px;
  margin-bottom: 30px;
}

/*Sidebar Style*/
.veg_leftbar {
  width: 445px;
  height: 45px;
  float: left;
  box-sizing: border-box;
  border:solid #FFF;
}

.veg_leftbar h1 {
  font-family: Arial Black;
  color: #EDF2C5;
  font-size: 16px;
  padding: 15px 30px;
  border: 0px;
  margin: 0px;
  background-color: #778A50;
  box-sizing: border-box;
}

.veg_leftbar div {
  width:140px;
  box-sizing: border-box;
}

.sidebar img {
    width: 140px;
    height: 140px;
    padding: 0px;
    margin-right: 12px;
    margin-top: 15px;
    margin-bottom: 35px;
    box-sizing: border-box;
    display: inline-block;
    float: left;
}


.contact_rightbar {
  width: 445px;
  height: 45px;
  border:solid #FFF;
  box-sizing: border-box;
  float: right;
}

.contact_rightbar h1{
font-family: Arial Black;
color: #EDF2C5;
font-size: 16px;
padding: 17px 0px 16px 30px;
border: 0px;
margin: 0px;
background-color: #778A50;
box-sizing: border-box;
}
.contact_rightbar p {
  font-family: "ArialMT Regular"
  color:  #7D7D7D;
  line-height: 1.33px;
  font-size: 12px;

}

/*Footer Style*/
footer {
  /*width: 1260px;
  height: 60px;*/
  box-sizing: border-box;
}
footer p {
  background-color: #889C5B;
  font-family: Arial Black;
  color: #EDF2C5;
  font-size: 12px;
  padding: 24px 463px;
}
